@media screen and (max-width: 667px) {
#nav {
    justify-content: center;
    align-items: center;
}

/* Processador */

#colum-process {
    background-image: url('./background/background1.png');
    background-color: #902121;
    background-size: 100%;
    height: 380px;
}

#img1 {
    height: 130px;
}

#colum-process img {
    position: relative;
    left: 40%;
    top: 20px;
}

#colum-process #process-text {
    font-family: fontface;
    position: relative;
    left: 0px;
    top: 30px;
    font-size: 12pt;
    color: white;
    text-align: center;
}

/* Placa Mãe */

#motherboard {
    background-image: url('./background/background1.png');
    background-color: #a6a533;
    max-width: 100%;
    height: 380px;
}

#motherboard img {
    position: relative;
    left: 34%;
    top: 20px;
}

#img2 {
    height: 130px;
}


#motherboard #motherboard-text {
    font-family: fontface;
    position: relative;
    left: 0px;
    top: 25px;
    font-size: 12pt;
    color: white;
    text-align: center;
    margin: 5px;
}

/* Memory */

#memory {
    background-image: url('./background/background1.png');
    background-color: #2b37a1;
    max-width: 100%;
    height: 380px;
}

#memory img {
    position: relative;
    left: 35%;
    top: 25px;
}

#img3 {
    height: 130px;
}


#memory-text {
    font-family: fontface;
    position: relative;
    left: 0px;
    top: 27px;
    font-size: 12pt;
    color: white;
    text-align: center;
    margin: 5px;
}

/* Armazenamento */

#armazenamento {
    background-image: url('./background/background1.png');
    background-color: #8d2ba1;
    max-width: 100%;
    height: 380px;
}

#armazenamento img {
    position: relative;
    left: 33%;
    top: 30px;
}

#img4 {
    height: 150px;
}

#armazenamento-text {
    font-family: fontface;
    position: relative;
    left: 0px;
    top: 25px;
    font-size: 12pt;
    color: white;
    text-align: center;
    margin: 20px;
}

/* videoboard */

#videoboard {
    background-image: url('./background/background1.png');
    background-color: #a1792b;
    max-width: 100%;
    height: 380px;
}

#videoboard img {
    position: relative;
    left: 35%;
    top: 30px;
}

#img5 {
    height: 130px;
}

#videoboard-text {
    font-family: fontface;
    position: relative;
    left: 0px;
    top: 35px;
    font-size: 12pt;
    color: white;
    text-align: center;
}


/* fonte */

#fonte {
    background-image: url('./background/background1.png');
    background-color: #d10c98;
    max-width: 100%;
    height: 380px;
}

#fonte img {
    position: relative;
    left: 32%;
    top: 20px;
}

#img6 {
    height: 130px;
}

#fonte-text {
    font-family: fontface;
    position: relative;
    left: 0px;
    top: 20px;
    font-size: 12pt;
    color: white;
    text-align: center;
    margin: 5%;
}

/* Gabinete */

#gabinete {
    background-image: url('./background/background1.png');
    background-color: #0cd16b;
    max-width: 100%;
    height: 380px;
}

#gabinete img {
    position: relative;
    left: 40%;
    top: 20px;
}

#img7 {
    height: 150px;
}

#gabinete-text {
    font-family: fontface;
    position: relative;
    left: 0px;
    top: 30px;
    font-size: 12pt;
    color: white;
    text-align: center;
}

/* Mouse */

#mouse {
    background-image: url('./background/background1.png');
    background-color:#ac9519;
    max-width: 100%;
    height: 380px;
}

#mouse img {
    position: relative;
    left: 34%;
    top: 20px;
}

#img8 {
    height: 100px;
}

#mouse-text {
    font-family: fontface;
    position: relative;
    left: 0px;
    top: 50px;
    font-size: 12pt;
    color: white;
    text-align: center;
}

/* Monitor */

#monitor {
    background-image: url('./background/background1.png');
    background-color: #0cd16b;
    max-width: 100%;
    height: 380px;
}

#monitor img {
    position: relative;
    left: 34%;
    top: 20px;
}

#img9 {
    height: 120px;
}

#monitor-text {
    font-family: fontface;
    position: relative;
    left: 0px;
    top: 60px;
    font-size: 12pt;
    color: white;
    text-align: center;
}

/* Headset */

#headset {
    background-image: url('./background/background1.png');
    background-color: #ac1919;
    max-width: 100%;
    height: 380px;
}

#headset img {
    position: relative;
    left: 38%;
    top: 20px;
}

#img10 {
    height: 125px;
}

#headset-text {
    font-family: fontface;
    position: relative;
    left: 0px;
    top: 40px;
    font-size: 12pt;
    color: white;
    text-align: center;
}

/* Teclado */

#teclado {
    background-image: url('./background/background1.png');
    background-color: #dfa8a8;
    max-width: 100%;
    height: 380px;
}

#teclado img {
    position: relative;
    left: 34%;
    top: 20px;
}

#img11 {
    height: 130px;
}

#teclado-text {
    font-family: fontface;
    position: relative;
    left: 0px;
    top: 60px;
    font-size: 12pt;
    color: white;
    text-align: center;
}

/* Microfone */

#micro {
    background-image: url('./background/background1.png');
    background-color: #699f87;
    max-width: 100%;
    height: 380px;
}

#micro img {
    position: relative;
    left: 34%;
    top: 20px;
}

#img12 {
    height: 150px;
}

#micro-text {
    font-family: fontface;
    position: relative;
    left: 0px;
    top: 55px;
    font-size: 12pt;
    color: white;
    text-align: center;
}

/* Mousepad */

#mousepad {
    background-image: url('./background/background1.png');
    background-color: #699f87;
    max-width: 100%;
    height: 380px;
}

#mousepad img {
    position: relative;
    left: 24%;
    top: 20px;
}

#img13 {
    height: 140px;
}

#mousepad-text {
    font-family: fontface;
    position: relative;
    left: 0px;
    top: 50px;
    font-size: 12pt;
    color: white;
    text-align: center;
}

/* Cadeira Gamer */

#cadeira {
    background-image: url('./background/background1.png');
    background-color: #699f87;
    max-width: 100%;
    height: 380px;
}

#cadeira img {
    position: relative;
    left: 38%;
    top: 20px;
}

#img14 {
    height: 180px;
}

#cadeira-text {
    font-family: fontface;
    position: relative;
    left: 0px;
    top: 50px;
    font-size: 12pt;
    color: white;
    text-align: center;
}

}